[init]
    defaultBranch = master
[user]
    name = Miika Nissi
    email = miika@miikanissi.com
    signingKey = FAF92E7F
[commit]
    gpgSign = true
	verbose = true
	template = /home/m/.gitmessage
[tag]
    gpgSign = true
[pull]
    rebase = false
