[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/plugins/start/vim-css-color"]
	path = .vim/pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/pack/plugins/start/vim-transparent"]
	path = .vim/pack/plugins/start/vim-transparent
	url = https://github.com/Kjwon15/vim-transparent
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".themes/Sweet"]
	path = .themes/Sweet
	url = git@github.com:EliverLara/Sweet.git
[submodule ".themes/vimix-gtk-themes"]
	path = .themes/vimix-gtk-themes
	url = git@github.com:vinceliuice/vimix-gtk-themes.git
[submodule ".icons/vimix-icon-theme"]
	path = .icons/vimix-icon-theme
	url = git@github.com:vinceliuice/vimix-icon-theme.git
