! ~/.Xresources by Miika Nissi
! https://github.com/miikanissi
! https://miikanissi.com
!
! Refresh config 'xrdb ~/.Xresources'.

#define base00 #000000
#define base01 #303030
#define base02 #505050
#define base03 #b0b0b0
#define base04 #d0d0d0
#define base05 #e0e0e0
#define base06 #f5f5f5
#define base07 #ffffff
#define base08 #fb0120
#define base09 #fc6d24
#define base0A #fda331
#define base0B #a1c659
#define base0C #76c7b7
#define base0D #6fb3d2
#define base0E #d381c3
#define base0F #be643c

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

sxiv.Background: base00

!!! URXVT configs !!!
URxvt*depth: 24
URxvt*scrollBar:                    false
URxvt*mouseWheelScrollPage:         true
URxvt*scrollTtyOutput:              false
URxvt*scrollWithBuffer:             true
URxvt.secondaryScreen:              1
URxvt.secondaryScroll:              0
URxvt*cursorBlink:                  true
URxvt.cursorUnderline:              false
URxvt*saveline:                     2048
URxvt.iso14755:                     false
URxvt.letterSpace:                  0
URxvt.lineSpace:                    0
URxvt.geometry:                     92x24
URxvt.internalBorder:               4
URxvt.intensityStyles:  	        false
URxvt.scrollBar:    		        false
URxvt.font: xft:UbuntuMonoNerdFontMono:size=11

! URxvt Extensions
URxvt.perl-ext-common:default,matcher,font-size
! URxvt keybinds
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard
URxvt.keysym.C-Up:                  font-size:increase
URxvt.keysym.C-Down:                font-size:decrease

!!! Xft !!!
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
