! ~/.Xresources by Miika Nissi
! https://github.com/miikanissi
! https://miikanissi.com
!
! Refresh config 'xrdb ~/.Xresources'.

! PaperColor Theme
*foreground: #878787
*background: #eeeeee
*cursorColor: #878787
sxiv.Background: #eeeeee
*bg: #eeeeee
*bg-alt: #eeeeee
*fg: #878787
*fg-alt: #bcbcbc
*icon: #005faf
*warn: #af0000
*normal-border: #eeeeee
*focused-border: #005faf
! black
*color0: #eeeeee
*color8: #bcbcbc
! red
*color1: #af0000
*color9: #d70000
! green
*color2: #008700
*color10: #d70087
! yellow / orange
*color3: #5f8700
*color11: #8700af
! blue
*color4: #0087af
*color12: #d75f00
! magenta
*color5: #878787
*color13: #d75f00
! cyan
*color6: #005f87
*color14: #005faf
! white
*color7: #444444
*color15: #005f87

!!! URXVT configs !!!
URxvt*depth: 24
URxvt*scrollBar:                    false
URxvt*mouseWheelScrollPage:         true
URxvt*scrollTtyOutput:              false
URxvt*scrollWithBuffer:             true
URxvt.secondaryScreen:              1
URxvt.secondaryScroll:              0
URxvt*cursorBlink:                  true
URxvt.cursorUnderline:              false
URxvt*saveline:                     2048
URxvt.iso14755:                     false
URxvt.letterSpace:                  0
URxvt.lineSpace:                    0
URxvt.geometry:                     92x24
URxvt.internalBorder:               4
URxvt.intensityStyles:  	        false
URxvt.scrollBar:    		        false
URxvt.font: xft:UbuntuMonoNerdFontMono:size=11
! URxvt Extensions
URxvt.perl-ext-common:default,matcher,font-size
! URxvt keybinds, Emacs copy/paste
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard
URxvt.keysym.Control-y:             eval:paste_clipboard
URxvt.keysym.Meta-w:                eval:selection_to_clipboard
URxvt.keysym.Control-Up:            font-size:increase
URxvt.keysym.Control-Down:          font-size:decrease

!!! Xft !!!
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
