! ~/.Xresources by Miika Nissi
! https://github.com/miikanissi
! https://miikanissi.com
!
! Refresh config 'xrdb ~/.Xresources'.

! colors
! modus-operandi
! BEGIN LIGHT
*background: #ffffff
*background1: #efefef
*foreground: #000000
*cursorColor: #000000
*color0:  #000000
*color8:  #595959
*color1:  #a60000
*color9:  #972500
*color2:  #005e00
*color10: #315b00
*color3:  #813e00
*color11: #70480f
*color4:  #0031a9
*color12: #2544bb
*color5:  #721045
*color13: #5317ac
*color6:  #00538b
*color14: #005a5f
*color7:  #bfbfbf
*color15: #ffffff
sxiv.Background: #ffffff
! END LIGHT

! modus-vivendi
!! BEGIN DARK
! *background: #000000
! *background1: #000000
! *foreground: #ffffff
! *cursorColor: #ffffff
! *color0:  #ffffff
! *color8:  #595959
! *color1:  #ff8059
! *color9:  #ef8b50
! *color2:  #44bc44
! *color10: #70b900
! *color3:  #d0bc00
! *color11: #c0c530
! *color4:  #2fafff
! *color12: #79a8ff
! *color5:  #feacd0
! *color13: #b6a0ff
! *color6:  #00d3d0
! *color14: #6ae4b9
! *color7:  #bfbfbf
! *color15: #000000
!! END DARK


! dwm colors
dwm.normbordercolor: #bfbfbf
dwm.normbgcolor: #ffffff
dwm.normfgcolor: #000000
dwm.selbordercolor: #00538b
dwm.selbgcolor: #00538b
dwm.selfgcolor: #ffffff

!!! st settings !!!
st.termname: st-256color
st.font: UbuntuMonoNerdFontMono:pixelsize=16:antialias=true:autohint=false
st.shell: /bin/bash

!!! URXVT settings !!!
URxvt*depth: 24
URxvt*scrollBar:                    false
URxvt*mouseWheelScrollPage:         true
URxvt*scrollTtyOutput:              false
URxvt*scrollWithBuffer:             true
URxvt.secondaryScreen:              1
URxvt.secondaryScroll:              0
URxvt*cursorBlink:                  true
URxvt.cursorUnderline:              false
URxvt*saveline:                     2048
URxvt.iso14755:                     false
URxvt.letterSpace:                  0
URxvt.lineSpace:                    0
URxvt.geometry:                     92x24
URxvt.internalBorder:               4
URxvt.intensityStyles:  	        false
URxvt.scrollBar:    		        false
URxvt.font: xft:UbuntuMonoNerdFontMono:size=11
! URxvt Extensions
URxvt.perl-ext-common:default,matcher,font-size
! URxvt keybinds, Emacs copy/paste
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard
URxvt.keysym.Control-y:             eval:paste_clipboard
URxvt.keysym.Meta-w:                eval:selection_to_clipboard
URxvt.keysym.Control-Up:            font-size:increase
URxvt.keysym.Control-Down:          font-size:decrease

!!! Xft !!!
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
