    [Desktop Entry]
Type=Application
Version=1.0
Name=mattermost-desktop
Comment=mattermost-desktopstartup script
Exec=/home/tawnismi/.local/bin/mattermost-desktop-4.6.1-linux-x64/mattermost-desktop
StartupNotify=false
Terminal=false
