/* .config/rofi/config */
/* by Miika Nissi, https://miikanissi.com, https://github.com/miikanissi */

configuration {
	modi: "window,run,ssh";
	width: 20;
	lines: 10;
	font: "UbuntuMonoNerdFontMono 14px";
	location: 1;
    yoffset: 0;
    xoffset: 0;
    theme: "base16-papercolor-light.rasi";
    hide-scrollbar: true;
    window-format: "{w}   {c}";
}

@import "~/.config/rofi/dmenu.rasi"
