/**
 * Base16 PaperColor Light ROFI Color theme
 *
 * Authors
 *  Scheme: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    bg: #f9f5d7;
    bg-alt: #928374;
    bg-color: #b16286;
    fg: #3c3836;
    fg-alt: #7c6f64;
    foreground: @fg;
    background: @fg;
    background-color: @bg;
}
