snippet wreadme "Wildpack README"
	=======================
	$1
	=======================
	* $2
	
	Configuration
	=============
	\-
	
	Usage
	=====
	\-
	
	Known issues / Roadmap
	======================
	\-
	
	Credits
	=======
	
	Contributors
	------------
	
	* Miika Nissi <m.nissi@wildpackbev.com>
	
	Maintainer
	----------
	
	This module is maintained by Wildpack Beverage Inc.
